.nav-body{
    display: flex;
    height: 50px;
}
.logo img{
    width: 30%;
    width: 23%;
    margin-left: 50px;
    margin-top: 10px;
}
.banner{
    background-color: #FCF4E0;
    margin-top: 20px;

}
.banner img{
    width: 100%;
}
.my-button{
    margin-right: 8px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background: #F91944;
}
.p-root{
    margin-left: 200px;
}
.cart-icon{
    color: red;
    font-size: 30px;
}